<!DOCTYPE html>
<html>
  <head>
    <title>Stock Details</title>
  </head>
  <body>
    <h1>Stock Details</h1>
    <form action="/stock" method="GET">
      <input type="text" name="name" placeholder="Enter stock Name" />
      <button type="submit">Search</button>
    </form>
  </body>
</html>
